<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test  name="Test">
	<groups>
		#group run 
		<run>
			<include name="smoke"/>
			<include name="sanity"/>
			<exclude name="regression"/>
		</run>
	</groups>
    <classes>
      <class name="TestNGGroup.TestGroup2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
